* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.employee-list {
	margin: 20px auto;
	width: 500px;
	/* background-color: rgb(202, 226, 182); */
}

.employee-list h2 {
	padding: 20px;
	text-align: center;
}

.employee-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 35px;
	width: 100%;
}

.highlighted {
	background-color: red;
}

button.employee-delete {
	display: block;
	padding: 10px;
	margin-right: 20px;
	height: 30px;
	cursor: pointer;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.error-message {
	color: red;
	height: 25px;
	line-height: 25px;
}
